/**
* Your CSS here
**/
body {
    font-family: 'Nunito', sans-serif;
    background-color: #D9A33D;
    color: black;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

section {
    padding-left: 2%;
    padding-right: 2%;
}

.review{
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'DM Sans', sans-serif;
}